@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.container {
  display: flex;
  flex-direction: column;
}
.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2rem;
  justify-content: space-evenly;
}
.card {
  margin-bottom: 3rem;

  @include breakpoint-sm {
    // min-width: 200px;
    max-width: 40%;
    width: 40%;
    margin: 1rem;
  }
}
.post-content-preview {
  height: 200px;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  img {
    height: 100%;
    object-fit: cover;
  }
}
.post-body {

}
.post-title {
  margin: 0;
  display: inline-block;
  font-weight: 700;
  cursor: pointer;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.9);
  border: none;
  text-decoration: none;
}
.date {
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: .5rem;
  line-height: 1.3em;

}
.post-link {}
.post-subtitle {

}