@charset "UTF-8";

@import "normalize-scss";
@import "base/generic";

#expertise-page {
  #expertise-tech-list {
    display: flex;
    flex-direction: column;

    img {
      display: inline-block;
      max-height: 75px;
      height: 75px;
      // max-width: 100px;
    }


  }

}
// medium widget overrides, since it's easier than parsing the content and so on
#medium-widget-container {
  .medium-feed-snippet {
    display: none;
  }
  .medium-feed-link {
    display: none;
  }
  .medium-feed-item {
    margin: 0;
    height: 100%;
  }
  .medium-feed-image {
    margin: 0;
    height: 100%;
  }
}