@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.expertise-tech-list {
  display: flex;
  flex-wrap: wrap;
  max-height: 2600px;
}
.tech-header {
}
.tech-type-container {
  padding: 10px;
  @include breakpoint-sm {
    width: 285px;
  }

  @include breakpoint-md {
  }

  .tech-type-name {
    margin-top: 0;
  }

  .tech-items-container {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;

    .tech-item {
      position: relative;
      margin: 0 5px;
      // keep the same as the img height set in the html (I think helps browser load time to know size or something)
      max-height: 100px;
      min-height: 100px;
      max-width: 450px;

      .tech-item-name {
      }
      img.tech-item-logo {
        max-width: 100%;
      }
    }
}
}
